<html>
    <head>
        <title>PHISHING  DETECTION</title>
        <link rel="stylesheet" type="text/css" href=""D:/AI PHISHING DETECTION/css_for_html.css"">
    </head>
    <body>
        <h1 style="color:rgb(6, 255, 6);">PHISHING DETECTION</h1>
        <form>
            <label style="color:rgba(131, 255, 59, 0.942);"><h3>link:</h3></label>
            <input type="text" name="link_address"><br>
            <a href="#" class="btn btn-primary submit_btn" style="color:rgba(239, 255, 59, 0.942);"><h5>CHECK LINK</h5></a><br><br>
            <label style="color:rgb(8, 255, 8);"><h3>If any queries:</h3></label>
            <a href ="mailto:dthirugnanam04@gmail.com" style="color:yellow"><h2>click here</h2></a>
        </form>
    </body>
</html>